@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
}

main {
  color: white;
  height: 100%;
  width: 100%;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}
main h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 3rem;
}
main .piano {
  width: 30%;
  height: 50%;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background: linear-gradient(135deg, #fdfcfb, #e2d1c3);
}
main .piano h2 {
  color: #272727;
}
main .piano .key-area {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  position: relative;
}
main .piano .key {
  height: 80%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .piano .white {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1.5rem;
  color: black;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.205);
  border-radius: 0.2rem;
}
main .piano .white:active {
  transition: all 0.1s ease;
  background-color: rgb(190, 190, 190);
}
main .piano .black {
  height: 150px;
  width: 50px;
  background-color: black;
  z-index: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
main .piano .black:active {
  transition: all 0.1s ease;
  background-color: rgb(190, 190, 190);
}
main .piano #black1 {
  position: absolute;
  top: 10%;
  left: 14%;
}
main .piano #black2 {
  position: absolute;
  top: 10%;
  left: 25%;
}
main .piano #black3 {
  position: absolute;
  top: 10%;
  left: 40%;
}
main .piano #black4 {
  position: absolute;
  top: 10%;
  left: 55%;
}
main span {
  cursor: pointer;
}
main span a {
  text-decoration: none;
  color: white;
}
main .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
main .footer img {
  height: 25px;
  width: 25px;
  filter: invert(1);
  cursor: pointer;
  transition: all 0.1s ease;
}
main .footer a:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .footer img:hover {
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .piano {
    width: 90% !important;
    height: 50%;
    background-color: red;
  }
  .piano .black {
    background-color: red;
    height: 1px !important;
    width: 32px !important;
  }
}
@media (max-width: 600px) {
  .piano {
    width: 90% !important;
    height: 50%;
    background-color: red;
  }
  .piano .black {
    height: 120px !important;
    width: 32px !important;
  }
}
@media (max-width: 799px) {
  .piano {
    width: 90% !important;
    height: 50%;
    background-color: red;
  }
}
@media (min-width: 800px) {
  .piano {
    width: 70% !important;
    height: 50%;
    background-color: red;
  }
}
@media (min-width: 1000px) {
  .piano {
    width: 50% !important;
    height: 50%;
    background-color: red;
  }
}
@media (min-width: 1400px) {
  .piano {
    width: 40vw !important;
    height: 50vh !important;
  }
}
@media (min-width: 1600px) {
  .piano {
    width: 40vw !important;
    height: 50vh !important;
  }
}/*# sourceMappingURL=style.css.map */